@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Merriweather";
}

.swiper-1 {
  background-image: linear-gradient(
      to right,
      rgba(100, 55, 224, 0.062),
      rgba(20, 20, 20, 0.308)
    ),
    url("./assets/hero1.jpg");
}
.swipe {
  height: 100%;
  padding: 0 40px;
  background-size: cover;
  background-position: center;
}

.swiper-2 {
  background-image: linear-gradient(
      to right,
      rgba(22, 22, 22, 0.226),
      rgba(32, 41, 92, 0.329)
    ),
    url("./assets/fantasy.jpg");
}
.swiper-3 {
  background-image: linear-gradient(
      to right,
      rgba(22, 22, 22, 0.459),
      rgba(32, 41, 92, 0.329)
    ),
    url("./assets/ghReader.jpg");
}

/* spinner */

/* From Uiverse.io by satyamchaudharydev */
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: #ffff;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
